<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.SocialNoticeDao">
    <!-- 获取未读统计数据 -->
    <select id="selectUnreadStatistic" resultType="com.lovbe.icharge.entity.vo.UnreadMsgStatisticVo">
        SELECT
            COUNT(IF(notice_type = 1 OR notice_type = 2, 1, NULL)) commentCount,
            COUNT(IF(notice_type = 3, 1, NULL)) likeCount,
            COUNT(IF(notice_type = 4, 1, NULL)) newFollowCount,
            COUNT(IF(notice_type = 0, 1, NULL)) systemMsgCount
        FROM s_notices
        WHERE user_id = #{userId}
          AND read_status = 0
    </select>
    <select id="selectCommentListCount" resultType="com.lovbe.icharge.common.model.dto.SocialNoticeDo">
        SELECT
            sn.uid,
            sn.notice_type noticeType,
            sn.action_user_id actionUserId,
            sn.read_status readStatus,
            sn.target_id targetId,
            sc.target_type targetType,
            sn.create_time createTime,
            sn.uid commentId,
            IF(sc.content_img_url IS NULL, sc.content, CONCAT( sc.content, '[图片]' )) commentContent,
            sn.reply_id replyId
        FROM s_notices sn
        INNER JOIN s_comment sc ON sn.uid = sc.uid
        WHERE sn.user_id = #{userId}
          AND sn.notice_type = 1
        ORDER BY sn.create_time DESC
        LIMIT #{data.offset}, #{data.limit}
    </select>

    <!-- 获取点赞通知列表 -->
    <select id="selectLikeListCount" resultType="com.lovbe.icharge.common.model.dto.SocialNoticeDo">
        SELECT
            sn.uid,
            sn.notice_type noticeType,
            sn.action_user_id actionUserId,
            sn.read_status readStatus,
            sli.target_id targetId,
            sli.target_type targetType,
            sn.create_time createTime
        FROM s_notices sn
        INNER JOIN s_like_item sli ON sn.uid = sli.uid
        WHERE sn.user_id = #{userId}
          AND sn.notice_type = 3
        ORDER BY sn.create_time DESC
        LIMIT #{data.offset}, #{data.limit}
    </select>

    <!-- 获取指定类型通知列表 -->
    <select id="selectList" resultType="com.lovbe.icharge.common.model.dto.SocialNoticeDo">
        SELECT *
        FROM s_notices sn
        WHERE sn.user_id = #{userId}
            AND sn.notice_type = #{noticeType}
            <if test="data.readStatus != null">
                AND sn.read_status = #{data.readStatus}
            </if>
        ORDER BY sn.create_time DESC
        LIMIT #{data.offset}, #{data.limit}
    </select>
</mapper>
