<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.ReplyCommentDao">
    <!-- 获取评论统计 -->
    <select id="selectCommentStatistic" resultType="com.lovbe.icharge.common.model.dto.TargetStatisticDo">
        SELECT * FROM c_interaction_statistic where uid = #{targetComment.targetId}
    </select>

    <!-- 获取评论列表 -->
    <select id="selectReplyCommentList" resultType="com.lovbe.icharge.entity.dto.ReplyCommentDo">
        SELECT
        dc.uid AS direct_comment_id,
        dc.target_id,
        dc.like_count,
        dc.reply_count,
        dc.is_top,
        dc.is_feature,
        dc.user_id,
        dc.content,
        dc.create_time,
        rc.uid AS reply_uid,
        rc.user_id AS reply_user_id,
        rc.content AS reply_content,
        rc.create_time AS reply_create_time
        FROM
        s_comment dc
        LEFT JOIN (
        SELECT
        *
        FROM
        s_comment r1
        WHERE
        r1.STATUS = 'A'
        AND r1.target_id = 36430124466437
        AND r1.parent_id IS NOT NULL
        AND (
        SELECT
        COUNT(*)
        FROM
        s_comment r2
        WHERE
        r2.parent_id = r1.parent_id
        AND r2.STATUS = 'A'
        AND r2.create_time <![CDATA[ <= ]]> r1.create_time
        ) <![CDATA[ <= ]]> 5
        ORDER BY r1.create_time
        ) rc ON dc.uid = rc.parent_id
        AND rc.target_id = 36430124466437
        WHERE
        dc.status = 'A'
        AND dc.target_id = 36430124466437
        AND dc.parent_id IS NULL
        ORDER BY dc.is_top, dc.is_feature,
        dc.like_count DESC,
        dc.create_time ASC
    </select>
</mapper>
