<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.SocialFollowDao">
    <!-- 获取人际关系 -->
    <select id="updateRelationShip">
        INSERT INTO s_relationship (uid, user_id_master, user_id_slave, master_watch_slave, slave_watch_master)
        VALUES (#{relationship.uid}, #{relationship.userIdMaster},  #{relationship.userIdSlave},
                #{relationship.masterWatchSlave},  #{relationship.slaveWatchMaster})
        ON DUPLICATE KEY UPDATE
            <if test="isMaster">
                master_watch_slave = #{relationship.masterWatchSlave}
            </if>
            <if test="!isMaster">
                slave_watch_master = #{relationship.slaveWatchMaster}
            </if>
    </select>

    <!-- 获取我的关注列表 -->
    <select id="selectFollowList" resultType="com.lovbe.icharge.entity.dto.RelationshipDo">
        SELECT * FROM (
            SELECT * FROM s_relationship WHERE user_id_master = #{userId} AND master_watch_slave = 1
            UNION ALL
            SELECT * FROM s_relationship WHERE user_id_slave = #{userId} AND slave_watch_master = 1
         ) res GROUP BY uid ORDER BY update_time
    </select>

    <!-- 获取我的粉丝列表 -->
    <select id="selectFansList" resultType="com.lovbe.icharge.entity.dto.RelationshipDo">
        SELECT * FROM (
            SELECT * FROM s_relationship WHERE user_id_master = #{userId} AND slave_watch_master = 1
            UNION ALL
            SELECT * FROM s_relationship WHERE user_id_slave = #{userId} AND master_watch_slave = 1
        ) res GROUP BY uid ORDER BY update_time
    </select>
</mapper>
