<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.SocialFollowDao">
    <!-- 更新人际关系统计 -->
    <update id="updateFollowCount">
        <foreach collection="statisticList" item="statistic">
            INSERT INTO s_interaction_statistic (uid, type, follow_count, fans_count)
            VALUES (#{statistic.uid}, #{statistic.type},
                    IF(#{statistic.followCount} <![CDATA[ < ]]> 0, 0 , #{statistic.followCount}),
                    IF(#{statistic.fansCount} <![CDATA[ < ]]> 0, 0 , #{statistic.fansCount}))
            ON DUPLICATE KEY UPDATE
            follow_count = IF(follow_count + #{statistic.followCount} <![CDATA[ < ]]> 0, 0, follow_count + #{statistic.followCount}),
            fans_count = IF(fans_count + #{statistic.fansCount} <![CDATA[ < ]]> 0, 0, fans_count + #{statistic.fansCount});
        </foreach>
    </update>

    <!-- 更新人际关系 -->
    <insert id="updateRelationShip">
        INSERT INTO s_relationship (uid, user_id_master, user_id_slave, master_watch_slave, slave_watch_master)
        VALUES (#{relationship.uid}, #{relationship.userIdMaster},  #{relationship.userIdSlave},
                #{relationship.masterWatchSlave},  #{relationship.slaveWatchMaster})
        ON DUPLICATE KEY UPDATE
            <if test="isMaster">
                master_watch_slave = #{relationship.masterWatchSlave}
            </if>
            <if test="!isMaster">
                slave_watch_master = #{relationship.slaveWatchMaster}
            </if>
    </insert>

    <!-- 获取我的关注列表 -->
    <select id="selectFollowList" resultType="com.lovbe.icharge.common.model.dto.RelationshipDo">
        SELECT * FROM (
            SELECT * FROM s_relationship WHERE user_id_master = #{userId} AND master_watch_slave = 1
            UNION ALL
            SELECT * FROM s_relationship WHERE user_id_slave = #{userId} AND slave_watch_master = 1
         ) res GROUP BY uid ORDER BY update_time DESC
        LIMIT #{request.offset}, #{request.limit}
    </select>

    <!-- 获取我的粉丝列表 -->
    <select id="selectFansList" resultType="com.lovbe.icharge.common.model.dto.RelationshipDo">
        SELECT * FROM (
            SELECT * FROM s_relationship WHERE user_id_master = #{userId} AND slave_watch_master = 1
            UNION ALL
            SELECT * FROM s_relationship WHERE user_id_slave = #{userId} AND master_watch_slave = 1
        ) res GROUP BY uid ORDER BY update_time DESC
        LIMIT #{request.offset}, #{request.limit}
    </select>

    <!-- 获取统计数据 -->
    <select id="selectShipStatistic" resultType="com.lovbe.icharge.common.model.dto.TargetStatisticDo">
        SELECT * FROM s_interaction_statistic where uid = #{userId}
    </select>

    <!-- 获取所有关注用户id -->
    <select id="getFollowUserList" resultType="java.lang.Long">
        SELECT DISTINCT user_id
        FROM (
              SELECT user_id_slave AS user_id FROM s_relationship WHERE user_id_master = #{userId} AND master_watch_slave = 1
              UNION ALL
              SELECT user_id_master AS user_id FROM s_relationship WHERE user_id_slave = #{userId} AND slave_watch_master = 1
        ) res
    </select>

    <!-- 获取已经添加新增粉丝的激励用户 -->
    <select id="selectNoEncourageUser" resultType="com.lovbe.icharge.entity.dto.TargetFollowDTO">
        SELECT user_id targetUser,target_id userId
        FROM p_encorage_log
        WHERE behavior_type = #{behaviorType}
        AND ( <foreach collection="targetFollowList" item="targetFollow" separator=" OR " open="(" close=")">
                user_id = #{targetFollow.targetUser} AND target_id = #{targetFollow.userId}
            </foreach> )
    </select>
</mapper>
