<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.CollectDao">
    <!-- 更新收藏统计 -->
    <update id="updateCollectStatistic">
        INSERT INTO c_interaction_statistic (uid, type, collect_count)
        VALUES
        <foreach collection="statisticList" item="statistic" separator=",">
            (#{statistic.uid}, #{statistic.type}, #{statistic.collectCount})
        </foreach>
        ON DUPLICATE KEY UPDATE
        view_count = view_count + VALUES(view_count)
    </update>
</mapper>
