<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.CollectDao">
    <!-- 更新收藏统计 -->
    <update id="updateCollectStatistic">
        <foreach collection="statisticList" item="statistic" separator=";">
            INSERT INTO s_interaction_statistic (uid, type, collect_count)
            VALUES
            (#{statistic.uid}, #{statistic.type}, IF(#{statistic.collectCount} <![CDATA[ < ]]> 0, 0, #{statistic.collectCount}))
            ON DUPLICATE KEY UPDATE
            collect_count = IF((collect_count + #{statistic.collectCount} <![CDATA[ < ]]> 0), 0, (collect_count + #{statistic.collectCount}))
        </foreach>
    </update>
</mapper>
