<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lovbe.icharge.dao.PublicContentDao">
    <!-- 获取专栏信息 -->
    <select id="selectColumnInfo" resultMap="columnInfoMap">
        SELECT
            c.uid,
            c.title,
            c.uri,
            c.user_id,
            c.dir_content_id,
            c.is_public,
            c.enable_comment,
            a.uid articleId,
            a.title articleTitle,
            a.summary articleSummary,
            a.uri articleUri,
            a.published_content_id
        FROM c_column c
        INNER JOIN c_article a ON c.uid = a.column_id
            AND a.`status` = 'A'
        WHERE
            c.uri = #{uri}
          AND c.`status` = 'A'
    </select>

    <!-- 获取文章列表 -->
    <select id="selectArticleList" resultType="com.lovbe.icharge.common.model.dto.ArticleDo">
        SELECT a.*, c.uri column_uri, c.title column_name, u.domain, u.username
        FROM c_article a
        LEFT JOIN p_user u ON a.user_id = u.uid
        LEFT JOIN c_column c ON a.column_id = c.uid
        WHERE a.uid IN
        <foreach collection="articleIds" item="articleId" separator="," open="(" close=")">
            #{articleId}
        </foreach>
        ORDER BY a.update_time DESC
    </select>

    <!-- 获取专栏列表 -->
    <select id="selectColumnList" resultType="com.lovbe.icharge.common.model.dto.ColumnDo">
        SELECT c.*, u.domain, u.username
        FROM c_column c
        LEFT JOIN p_user u ON c.user_id = u.uid
        WHERE c.uid IN
        <foreach collection="columnIds" item="columnId" separator="," open="(" close=")">
            #{columnId}
        </foreach>
        ORDER BY c.update_time DESC
    </select>

    <!-- 获取用户列表 -->
    <select id="selectUserList" resultType="com.lovbe.icharge.common.model.dto.UserInfoDo">
        SELECT *
        FROM p_user
        WHERE uid IN
        <foreach collection="userIds" item="userId" separator="," open="(" close=")">
            #{userId}
        </foreach>
    </select>

    <!-- 获取推荐列表 -->
    <select id="selectPublicArticleList" resultMap="publicArticleVoMap">
        SELECT a.*,
               c.uri column_uri, c.title column_name,
               u.domain, u.username, u.level, u.avatar_url, u.location, u.industry,
               sis.like_count, sis.comment_count, sis.collect_count, sis.view_count
        FROM c_article a
        LEFT JOIN p_user u ON a.user_id = u.uid
        LEFT JOIN c_column c ON a.column_id = c.uid
        LEFT JOIN s_interaction_statistic sis ON a.uid = sis.uid
        WHERE a.uid IN
        <foreach collection="articleIds" item="articleId" separator="," open="(" close=")">
            #{articleId}
        </foreach>
            AND a.status = 'A'
            AND a.is_public = 1
            AND a.published_content_id IS NOT NULL
    </select>

    <!-- 获取统计列表 -->
    <select id="selectContentStatisticList" resultType="com.lovbe.icharge.common.model.dto.TargetStatisticDo">
        SELECT
            sis.uid,
            sis.type,
            IF (ca.uid IS NOT NULL, sis.like_count, 0 ) like_count,
            IF (ca.uid IS NOT NULL, sis.comment_count, 0 ) comment_count,
            IF (ca.uid IS NOT NULL, sis.collect_count, 0 ) collect_count,
            IF (ca.uid IS NOT NULL, sis.view_count, 0 ) view_count,
            IF (ca.uid IS NOT NULL, ca.publish_time, null) publish_time
        FROM s_interaction_statistic sis
        LEFT JOIN c_article ca ON sis.uid = ca.uid
            AND ca.published_content_id IS NOT NULL
            AND ca.publish_time IS NOT NULL
            AND ca.`status` = 'A'
        WHERE sis.type = #{targetType}
          AND sis.STATUS = 'A'
    </select>

    <resultMap id="columnInfoMap" type="com.lovbe.icharge.common.model.dto.ColumnDo">
        <id column="uid" property="uid"/>
        <result column="title" property="title"/>
        <result column="uri" property="uri"/>
        <result column="user_id" property="userId"/>
        <result column="dir_content_id" property="dirContentId"/>
        <result column="is_public" property="isPublic"/>
        <result column="enable_comment" property="enableComment"/>
        <collection column="articleId" property="articleList" ofType="com.lovbe.icharge.common.model.dto.ArticleDo">
            <id column="articleId" property="uid"/>
            <result column="articleTitle" property="title"/>
            <result column="articleSummary" property="summary"/>
            <result column="articleUri" property="uri"/>
            <result column="published_content_id" property="publishedContentId"/>
        </collection>
    </resultMap>

    <resultMap id="publicArticleVoMap" type="com.lovbe.icharge.entity.vo.RecommendArticleVo">
        <id property="uid" column="uid"/>
        <result property="title" column="title"/>
        <result property="uri" column="uri"/>
        <result property="userInfo.uid" column="user_id"/>
        <result property="userInfo.username" column="username"/>
        <result property="userInfo.domain" column="domain"/>
        <result property="userInfo.level" column="level"/>
        <result property="userInfo.avatarUrl" column="avatar_url"/>
        <result property="userInfo.location" column="location"/>
        <result property="userInfo.industry" column="industry"/>
        <result property="columnId" column="column_id"/>
        <result property="columnUri" column="column_uri"/>
        <result property="columnName" column="column_name"/>
        <result property="summary" column="summary"/>
        <result property="coverUrl" column="cover_url"/>
        <result property="likeCount" column="like_count"/>
        <result property="viewCount" column="view_count"/>
        <result property="commentCount" column="comment_count"/>
    </resultMap>
</mapper>
